
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Light background for the entire page */
}

header {
    background-color: blueviolet;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 20px 0;
}

nav {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

footer {
     background-color: #6a1b9a;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

a {
    color: white;
    padding: 10px;
}

main {
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px; /* Rounded corners for the main content area */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee; 
}

article h2 {
    color: #333333;
    margin-bottom: 10px;
}

article p {
    color: #666666; 
    line-height: 1.6;
}